@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
$primary-color: #1E2F5B;
$white_color: #fff;
.primary-color{
    color: $primary-color;
}
//marquee{
//    background: $primary-color;
//    color: $white_color;
//    padding: 10px;
//}



@keyframes  scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}
.slider {
     background: $primary-color;
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
    /* height: 100px; */
    /* margin: auto; */
    overflow: hidden;
    /* position: relative; */
    /* width: 960px; */
    /* border-radius: 10px; */
    padding: 10px 0px;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    /* content: ""; */
    /* height: 100px; */
    /* position: absolute; */
    /* width: 200px; */
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    /* height: 100px; */
    /* width: 250px; */
    margin: 0px 5px;
}
.slide img{
    max-height: 100px !important;
}
.taka_rate{
    margin: 5px 5px;
    background: $primary-color;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px #4d4d4d3d;
    min-height: 120px;
    min-width: 200px;
}
.taka_rate h6{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 3px;
}
.taka_rate span{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    /* color: #FF5722; */
}
.taka_rate p{
    margin: 0;
    font-size: 14px;
    color: #fff;
}
.taka_rate P strong{
    color: gold;
    filter: drop-shadow(2px 4px 6px #adad63);
}
.t_title{
    background: $primary-color !important;
    width: fit-content;
    padding: 3px 5px;
    border-radius: 3px;
    box-shadow: 0 0 20px #504d4d59;
}
.t_title h6{
    margin: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.slide h6{
    color: #fff;
    display: flex;
    align-items: center;
    width: 125px;
    justify-content: center;
    width: max-content;
    margin:0px;
}
.slide span{
    margin-left:10px;
}
.moible_visible{
    display:none;
}
@media(max-width: 576px){
    .moible_hide{
        display:none;
    }
    .moible_visible{
        display:block;
    }
}


.navbar{
    margin-top: -3px;
    box-shadow: 0px 1px 7px $primary-color;
    .mynav{
        color: $primary-color !important;
        border-bottom: 2px solid #F8F9FA;
        &:hover{
            color: #0077B6 !important;
            border-bottom: 2px solid #0077B6;
        }
    }
    .login-btn{
        background: $primary-color;
        border: 1px solid $primary-color;
        color: #fff;
        border-radius: 4px;
        &:hover{
            border: 1px solid #0077B6;
            background-color: transparent;
            color: #0077B6 !important;
        }
    }

}
.navbar-brand {
    img{
        width: 50px;
        height: auto;
        object-fit: contain;
    }
}

//banner section start
#banner-section{
    margin-top: 113px;
    background: url("../../public/assets/img/money-around-world.jpg");
    width: 100%;
    min-height: 500px;
    .overlay{
        background: rgba($primary-color,.3);
        width: 100%;
        min-height: 500px;
        .banner-heading{
            color: $white_color !important;
            font-size: 35px;
            font-weight: 500;
        }
        .banner-description{
            color: $white_color !important;
            font-weight: 400;
        }
        .get-start-btn{
            background: $primary-color;
            color: $white_color !important;
        }
    }
}
//banner section end
#feature_section{
    .feature-box{
        text-align: center;
        padding: 25px 0;
        overflow: auto;
        border: 1px solid #fff;
        box-shadow: 6px 8px 14px #f1f1f1;
        transition: .2s;
        height: 260px;
        .feature-icon{
            color: $primary-color !important;
            svg{
                height: 35px;
                width: 35px;
            }
        }
        .feature-heading{
            color: $primary-color !important;
            font-weight: 500;
        }
        .feature-des{
            text-transform: capitalize;
        }
        &:hover{
            box-shadow: none;
            border: 1px solid #f1f1f1;
        }
    }
}

#about-feature{
    .about-feature-img{
        width: 100%;
        height: auto;
    }
    .feature-download-img{
        width: 150px;
        height: auto;
    }
    .feature-download-text{
        font-weight: 500;
        font-size: 30px;
        margin: 14px 0;
    }
    .customer-service{
        font-weight: 500;
        font-size: 22px;
    }
}

#client-testimonial{
    margin: 40px 0;
    .testimonial-text{
        font-weight: 500;
        font-size: 36px;
        text-align: center;
        color: $primary-color !important;
    }
    .testimonial-box{
        text-align: center;
        .testimonial-img{
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 2px solid $primary-color;
        }
        .client-name{
            font-weight: 500;
        }
    }
}

#footer{
    background: $primary-color;
    color: $white_color !important;
    .footer-img{
        width: 60%;
        height: auto;
        border-radius: 50%;
    }
    .useful-link-text{
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
    }
    .useful-link{
        margin: 12px 0;
        a{
            color: #fff !important;
            text-decoration: none;
        }
    }
    .footer_des{
        color: $white_color;
        font-size: 13px;
        text-align: center;
    }
}

.copyright-area{
    background: #7c89ab;
    padding: 20px;
    position: relative;
    .whatsappimg-box{
        position: absolute;
        top: -30px;
        right: 50px;
        a{
            text-decoration: none;
        }
        .whatsappimg{
            width: 70px;
            height: 70px;
        }
    }
    .copyright-social-icon{
        .social-icon{
            margin: 0 6px;
            a{
                background: $primary-color;
                border: 2px solid $primary-color;
                padding: 7px 9px;
                border-radius: 4px;
                text-decoration: none;
                color: $white_color;
                transition: .3s;
                &:hover{
                    background: #7c89ab;
                    border: 2px solid $primary-color;
                }
            }
        }
    }
}

.zindextop{
    z-index: 999999 !important;
}
.slick-arrow {
    z-index: 9999;
    top: 50%;
    position: absolute !important;
    width: auto !important;
    transform: translateY(-50%);
    svg{
        cursor: pointer;
        color: $primary-color;
        width: 30px;
        height: 30px;
    }
}
.slick-prev{
    left: 0;
}
.slick-next{
    right: 0;
}
.mymargin{
    margin-top: 125px;
}

.contact-section{
    background: #f1f1f1;
    .contact-box{
        background: $white_color;
        padding: 18px;
        border-radius: 4px;
        .get-touch-text{
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
        .address-icon{
            svg{
                height: 23px;
                width: 23px;
            }
            margin-right: 12px;
        }
    }
    .contact-box-img{
        img{
            height: 270px;
        }
    }
    .contact-form-border{
        border: 3px solid $white_color;
    }
}

.card-content{
    box-shadow: 8px 12px 16px #f1f1f1;
    transition: .3s;

    &:hover{
        box-shadow: none;
        margin: -8px 0 0 0;
    }
}

.terms{
    text-transform: capitalize;
}





@media screen and (max-width: 992px) {
    .navbar{
        .mynav{
            color: $primary-color !important;
            text-align: center;
            border-bottom: none;
            &:hover{
                color: #0077B6 !important;
                border-bottom: none;
            }
        }
        .login-btn{
            text-align: center;
        }
    }
}
